
    <div class="card-body">
    <h2 class="card-title">Ajouter utilisateur</h2>
    <!--Form-->
    <form class="form-sample" #monform="ngForm" (submit)="onSubmit(monform)">
      <div class="row">
        <div class="col-md-6">
          <!--Nom-->
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Nom et Prénom" #nom="ngModel"
              [(ngModel)]="service.fromData.utiNomPrenom" name="nom" required />
            <div class="error-msg" *ngIf="(nom.touched || monform.submitted) && nom.errors?.required">
              Le champs Nom est obligatoire!
            </div>
          </div>
          <!--End Nom-->
        </div>
        <div class="col-md-6">
          <!--Login-->
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Login"
              #login="ngModel" [(ngModel)]="service.fromData.utiLogin" name="login" required maxlength="20">
  
            <div class="error-msg" *ngIf="(login.touched || monform.submitted) && login.errors?.required">
              Le champs login est obligatoire!
            </div>
          </div>
          <!--End Login-->
        </div>
      </div>
  
      <!--Mail-->
      
      <div class="form-group">
        <input type="email" class="form-control form-control-lg" placeholder="Email" #email="ngModel"
          [(ngModel)]="service.fromData.utiEmail" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
        
        <div class="error-msg" *ngIf="(email.touched || monform.submitted) && email.errors?.required">
          Le champs e-mail est obligatoire!
        </div>
        <div class="error-msg" *ngIf="(email.touched || monform.submitted) && email.errors?.pattern">
          Entrez une adresse e-mail valide!
        </div>
      </div>
      <!-- End Mail-->
      
      <div class="row">
        <div class="col-md-6">
        <!-- Role -->
        <div class="form-group">
          <label>Role</label>
          <select class="form-control form-control-lg" [(ngModel)]="service.fromData.utiRole" #role="ngModel" name="role" required>
            <option hidden value="">Choisir role utilisateur</option>
            <ng-container *ngFor="let item of serviceRole.listrole">
            <option *ngIf="item.rolEtat==true" value="{{item.rolId}}" > {{item.rolLibelle }}</option>
          </ng-container>
          </select>
        </div>
  
      </div>
      <!-- End Role -->
      <!--Type Utilisateur-->
   
      <div class="col-md-6">
      <div class="form-group">
        <div class="form-group">
            <label>Type de l'utilisateur</label>
            <select class="form-control form-control-lg" [(ngModel)]="service.fromData.utiTypeUtilisateur" #typeUtilisateur="ngModel" name="typeUtilisateur" required >
              <option hidden value="">Choisir type utilisateur</option>
              <ng-container *ngFor="let item of typeUtiService.listTypesUtilisateur">
                    <option value="{{ item.idTypeUti }}"> {{item.libelleTypeUti }} </option>
                </ng-container>
            </select>
        </div>
        <div class="error-msg" *ngIf="(typeUtilisateur.touched || monform.submitted) && typeUtilisateur.errors?.required">
            Le type de l'utilisateur est obligatoire!
        </div>
      </div>
    </div>
    </div>
    <ng-container *ngIf="service.fromData.utiTypeUtilisateur == 1">
    <div class="row">
        <!--Direction-->
        <div class="col-md-6">
            <div class="form-group">
                    <label>Direction du personnel</label>
                    <select class="form-control form-control-lg" [(ngModel)]="service.fromData.utiEmpIdDirection" #empIdDirection="ngModel" name="empIdDirection" >
                        <ng-container *ngFor="let item of direcService.listdirection">
                            <option *ngIf ="item.dirAffichage==true" value="{{ item.dirId }}"> {{item.dirLibelle }} </option>
                        </ng-container>
                    </select>
                
            </div>
        </div>
        <!--Matricule Employe-->
        <div class="col-md-6">
        <div class="form-group">
            <label>Matricule du personnel</label>
            <input type="number" class="form-control form-control-lg" placeholder="Matricule Personnel " #matriculeEmp="ngModel"
              [(ngModel)]="service.fromData.utiEmpMatricule" min="0" name="matriculeEmp" required />
        </div>
        <div class="error-msg" *ngIf="(matriculeEmp.touched || monform.submitted) && matriculeEmp.errors?.required">
            Matricule de l'employé est obligatoire!
        </div>
    </div>
    </div>
    </ng-container>

    <!--Matricule Employe-->
    <ng-container *ngIf="service.fromData.utiTypeUtilisateur == 2">
        
            <div class="form-group">
                <label>Agence</label>
                <select class="form-control form-control-lg" [(ngModel)]="service.fromData.utiAgeIdAgence" #empIdDirection="ngModel" name="empIdDirection" >
                    <ng-container *ngFor="let item of ageService.listagence">
                        <option *ngIf ="item.ageAffichage==true" value="{{ item.ageId }}"> {{item.ageLibelle }} </option>
                    </ng-container>
                </select>
             </div>
  
    </ng-container>


        <div class="form-group">
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Mot de passe"
            #password="ngModel" [(ngModel)]="service.fromData.utiMotPasse" name="password" required
            pattern="^(?=.*[a-zA-Z])(?=.*[0-9].*[0-9])(?=.*[!@/-_#$&*]).{12,}$">
  
          <div class="error-msg" *ngIf="(password.touched || monform.submitted) && password.errors?.required">
            Le champs mot de passe est obligatoire!
          </div>
          <div class="error-msg" *ngIf="(password.touched || monform.submitted) && password.errors?.pattern">
            <p>Le champs mot de passe doit commencer par une lettre contenir au moins 12 caractères, <br>à la fois des chiffres,
            des lettres majuscule, minuscule et des caractères spéciaux !</p>
          </div>
        </div>

        <div class="form-group">
            <textarea type="text" class="form-control form-control-lg" id="InputDescription"
              placeholder="Description de l'utilisateur" name ="description" #description="ngModel" [(ngModel)]="service.fromData.utiDescription"
              name="description"> </textarea>
          </div>
  
      <div class="mt-3">
        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"
          [disabled]="monform.invalid" ng-disabled="monform.$invalid">Confirmer</button>
      </div>
      
    </form>
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="closeDialog(monform)" >Retour</button>
    </div>
  </div>
  <!--EndForm-->
  


