.card-tale{
    background: rgb(63, 40, 48);
}

.card-tale:hover{
    background: rgb(102, 76, 85);
}

.card-dark-blue{
    background: #867f7f;
}

.card-dark-blue :hover{
    background: #afa0a0;
}

.card-light-blue{
    background: rgb(248, 155, 58);
}

.card-light-blue:hover{
    background: #e6a055;
}


.card-light-danger{
    background: #009161;
}

.card-light-danger:hover{
    background: #13a071;
}