<!-- Verification utilisateur avant de modifier -->
<ng-container *ngIf="displayVerifPaswd">
  <div class="card-body">
    <h3 class="card-title">Veuillez confirmer votre mot de passe <br> avant de changer cette application </h3>
    
    <form class="form-sample" #monform2="ngForm" (submit)="onSubmitVerifPswd(monform2)">
      <div class="row "> 

        <div class="form-group">
          <label>Mot de passe</label>
          <input type="password" class="form-control form-control-lg" placeholder="Mot de passe" #password="ngModel" [(ngModel)]="userService.fromData.utiMotPasse" 
          name="password" id="myInputPassword" required>
        </div>
    </div>
    <div class="mt-3">
      <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"
        [disabled]="monform2.invalid">Confirmer</button>
    </div>
  </form>
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="closeDialog2(monform2)" >Retour</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="displayUpdateApplication">
    <div class="card-body">
        <h2 class="card-title">Modifier application</h2>
        <!--Form-->
        <form class="form-sample" #monform="ngForm" (submit)="onSubmit(monform)">
          <div class="row">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Libellé Application" #nom="ngModel"
                  [(ngModel)]="appService.fromData.appLibelle" name="nom" required />
                <div class="error-msg" *ngIf="(nom.touched || monform.submitted) && nom.errors?.required">
                  Le champs Libéllé est obligatoire!
                </div>
              </div>
          </div>

          <div class="row">
            <div class="form-group">
                <textarea type="text" class="form-control form-control-lg" id="InputDescription"
                    placeholder="Description de l'application" name ="description" #description="ngModel" [(ngModel)]="appService.fromData.appDescription"
                    name="description"> </textarea>
            </div>
        </div>
        <div class="row">
            <select class="form-control form-control-lg" [(ngModel)]="etatApplication" #etat="ngModel" name="etat">
                <option value=true>Active</option>
                <option value=false>Supprimé</option>
            </select>
        </div>
        <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"
              [disabled]="monform.invalid">Confirmer</button>
        </div>
          
        </form>
        <div class="mt-3">
          <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="closeDialog(monform)" >Retour</button>
        </div>
      </div>
      <!--EndForm-->
</ng-container>
    
    