.table-cell{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 30% !important;
    white-space: nowrap;
}

.mat-header-cell {
    font-weight: bold;
    font-size: 0.95em;
    color:#009161 ;;
}
