<app-header></app-header>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <app-navbar-user></app-navbar-user>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <div class="card-body">
                                        <h1 class="card-title">Gestion des fonctions</h1>
                                    </div>
                                        <div class="input-group">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend show">
                                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                                            (click)="ShowDiv('showFilterDiv')">
                                                            <i class="bi bi-filter"></i> Filtre
                                                        </button>
                                                    </div>
                                                    <input type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="Recherche ..."
                                                    style="margin-right: 5px" list="exampleList">           
                                                </div>
                                            </div>

                                            <!--End search bar-->
                                            <!--Add Button-->
                                            <ng-container *ngIf="this.authService.listauthorizedFunctions[0]">
                                                <button type="button" class="btn btn-icon-text button-add" (click)="onCreate()" >
                                                    <i class="bi bi-clipboard-plus"></i>
                                                    Ajouter Fonction
                                                </button>
                                            </ng-container>
                                        
                                            <!--End Add Button-->
                                        </div>
                                        <!------------------------------------------------------------------------------------------------------------->
                                        <!--Div Filter-->
                                      
                                        <div class ="search-filter" *ngIf="filterDiv == 'showFilterDiv'">
                                            <form class="form-sample" #searchForm="ngForm" (submit)="search(searchForm)">
                                                <table class="rechercheav-div">
                                                    <tr>
                                                        <td>
                                                          <!--Close Div-->
                                                           <button type="button" class="close" aria-label="Close"
                                                           (click)="ShowDiv('hiddenFilterDiv')">
                                                           <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>       
                                                            <label><small>Libellé</small></label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control form-control-lg" placeholder="Libellé" name="libelle" ngModel />                                                           
                                                            </div>
                                                        </td>
                                                        <td>       
                                                            <label><small>Description</small></label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control form-control-lg" placeholder="Description" name="description" ngModel />                                                            </div>
                                                        </td>
                                                        <td>       
                                                            <label><small>Etat</small></label>
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg" name="etat" ngModel>
                                                                       <option value="true">Actif</option>
                                                                       <option value="false">Supprimé</option>
                                                                </select>
                                                             </div>
                                                        </td>
                                                        <td>       
                                                            <label><small>Module</small></label>
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg" name="moduleName" ngModel >
                                                                        <option value="" selected disabled></option>
                                                                       <option *ngFor="let item of listeModule" value="{{item.modId}}"> {{item.modLibelle}} </option>
                                                                </select>
                                                             </div>
                                                        </td>
                   
                                                        <td>
                                                            <!-- Search submit-->
                                                            <div class="form-group">
                                                                <button class="btn btn-sm btn-facebook search-button"> <i class="icon-search"></i> </button>
                                                            </div>
                                                          
                                                       </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>

                                        <!--End Div Filter-->
                                    <!------------------------------------------------------------------------------------------------------------->
                                    <!--Table-->
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                            <table class="table-responsive">
                                            <!--Table-->
                                            <p class="text-info" (click)="exportAsExcel()" > <i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp;Exporter</p>

                                            <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"  class="table table-striped">   
                                                <ng-container matColumnDef="fonLibelle">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header > Libellé </mat-header-cell>
                                                    <mat-cell  *matCellDef="let element" data-label="Libellé"> {{element.fonLibelle}} </mat-cell>
                                                </ng-container>
                                    
                                                <ng-container matColumnDef="fonDescription">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" data-label="Date de création" > {{element.fonDescription }} </mat-cell> 
                                                </ng-container>
                                    
                                                <ng-container matColumnDef="fonIdModule">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        Module
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" data-label="Module"> 
                                                        <ng-container *ngFor="let i of listeModule">
                                                            <ng-container *ngIf="i.modId == element.fonIdModule">
                                                                {{i.modLibelle}} 
                                                            </ng-container>
                                                        </ng-container>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="fonApplication">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        Application
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" data-label="Application"> 
                                                        <ng-container *ngFor="let j of listeApplication">
                                                            <ng-container *ngFor="let i of listeModule">
                                                                <ng-container *ngIf=" i.modId == element.fonIdModule && i.modApplication == j.appId">
                                                                    {{j.appLibelle}} 
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-container>
                                                    </mat-cell>
                                                </ng-container>
                                

                                                <ng-container matColumnDef="updateButton" >
                                                    <mat-header-cell *matHeaderCellDef > Modifier</mat-header-cell>
                                                    <!--Update Button-->
                                                    <mat-cell *matCellDef="let element" data-label="Modifier" >      
                                                        <button  
                                                        *ngIf="this.authService.listauthorizedFunctions[2]"
                                                        type="button"
                                                        class="btn btn-inverse-success btn-icon"
                                                        (click)="populateForm(element)">
                                                        <i class="ti-pencil-alt2"></i>
                                                        </button>
                                                    </mat-cell>                                                             
                                                </ng-container>
                                    
                                                <ng-container matColumnDef="deleteButton" >
                                                    <mat-header-cell *matHeaderCellDef > Supprimer </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" data-label="Supprimer" >
                                                        <!--Delete Button-->   
                                                        <button 
                                                        *ngIf="this.authService.listauthorizedFunctions[1]"
                                                        type="button" class="btn btn-inverse-success btn-icon" 
                                                        mwlConfirmationPopover (confirm)="onDelete(element.fonId)" popoverTitle="Voulez vous supprimer cette fonction ?">
                                                        <i class="ti-close"></i>
                                                        </button>
                                                    </mat-cell>                                                             
                                                </ng-container>
                                    
                                                <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                            </mat-table>
                                            </table>

                                            <mat-paginator [length]="100"
                                                  [pageSize]="10"
                                                  [pageSizeOptions]="[5, 10, 25, 100]"
                                                  aria-label="Select page">
                                            </mat-paginator>
                                        
                                            <!--End Table-->
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>